<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.xtext.org/sisprog/P2"
			class = "org.xtext.sisprog.p2.P2Package"
			genModel = "model/generated/P2.genmodel" />
	</extension>
</plugin>
